*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    
    /* background-image: linear-gradient(#36d1dc, #5b86e5); */
}
#app-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* overflow: hidden; */
    position: relative;
   
   
}
#temp{
    height: 80vh;
    width: 60vw;
    text-align: center;
    background-color: #feb236;
}
#temp #temp-value{
    /* margin: 2rem; */
    color: #fff;
    font-size: 5rem;
    /* padding-bottom: 5rem; */
}
#temp #temp-unit{
    /* margin: 2rem; */
    color: #fff;
    font-size: 5rem;
    /* padding-bottom: 5rem; */
}
#temp #date {
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
}
#temp-icon{
    margin: 2rem;
    width: 20%;
    height: auto;
}
#location{
    font-family: sans-serif;
    color: #e0e0e0;
    font-size: 2.5rem;
}
#climate{
    color: #e0e0e0;
    font-size: 2rem;
}